<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ♠ Ding Dong ♠  </title>
</head>
<body>
    <h1>App Web dedicada al arriendo de inmuebles</h1>
    <div>
        <label for="id_tipo_inmueble">Tipo de Inmueble:</label>
        <select name="tipo_inmueble" id="id_tipo_inmueble">
            <option value="casa">Casa</option>
            <option value="departamento">Departamento</option>
            <option value="bodega">Bodega</option>
            <option value="parcela">Parcela</option>
        </select>
    </div>
</body>
</html>